{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for file in files %}
    <li>
        <a href="{{ file.stream }}">{{ file.title }}</a>
        <button class="js--play" data-src="{{ file.stream }}">play</button>
        <button data-clipboard-text="{{ file.stream }}">stream</button>
    </li>
    {% endfor %}
</ul>

<audio id="app_audio" style="min-width: 100%;" autoplay="autoplay" controls="controls" preload="auto" autobuffer>
    <p>Your browser does not support the audio element.</p>
    <source/>
</audio>
{% endblock body %}