body {
    background-color: var(--md-theme-default-background, #424242);
}

.md-content {
    min-height: 200px;
}

a.md-list-item-text{
    color: white !important;
}

.admin_users .md-dialog-container {
    min-width: 400px;
}