<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>{% block title %}{% endblock %} - MedleyBox</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
        document.addEventListener( 'DOMContentLoaded', function( event ) {
            document.addEventListener( 'click', function (event) {
                let target = event.target;
                if (target.classList.contains('js')) {
                    //
                }
            });
        });
        </script>
    </body>
</html>
